services:
  mongo:
    image: mongo:7
    container_name: mywind-mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  app:
    image: ghcr.io/1williamaoayers/mywind:latest
    container_name: mywind-app
    restart: always
    network_mode: host
    environment:
      - NODE_ENV=production
      - APP_PORT=8088
      - PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium-browser
      - MONGO_URI=mongodb://127.0.0.1:27017/private_wind
      - AI_API_KEY=sk-a1c794ab1969492aa06f7d1177af0451
      - AI_API_BASE=https://api.deepseek.com/v1
      - AI_MODEL=deepseek-chat
      - FEISHU_WEBHOOK=https://www.feishu.cn/flow/api/trigger-webhook/4df825f0441914a0ce4a8eb3eda24604
    depends_on:
      - mongo

volumes:
  mongo_data:
